.appInfo {
  background-color: rgba(238, 238, 238, 1);
  position: relative;
  width: 100vw;
  overflow: hidden;

  .block_1 {
    width: 100vw;

    .block_2 {
      width: 100vw;

      .box_2 {
        margin: 3.75vw 0 0 11.18vw;

        .text_4 {
          overflow-wrap: break-word;
          color: rgba(165, 165, 165, 1);
          font-size: 0.69vw;
          font-family: Outfit-Medium;
          font-weight: 500;
          text-align: left;
          white-space: nowrap;
          line-height: normal;
        }

        .thumbnail_1 {
          width: 0.84vw;
          height: 0.84vw;
          margin-left: 0.14vw;
        }

        .text_5 {
          overflow-wrap: break-word;
          color: rgba(165, 165, 165, 1);
          font-size: 0.69vw;
          font-family: Outfit-Medium;
          font-weight: 500;
          text-align: left;
          white-space: nowrap;
          line-height: normal;
          margin-left: 0.13vw;
        }

        .thumbnail_2 {
          width: 0.84vw;
          height: 0.84vw;
          margin-left: 0.14vw;
        }

        .text_6 {
          overflow-wrap: break-word;
          color: rgba(165, 165, 165, 1);
          font-size: 0.69vw;
          font-family: Outfit-Medium;
          font-weight: 500;
          text-align: left;
          white-space: nowrap;
          line-height: normal;
          margin-left: 0.13vw;
        }
      }

      .box_3_ {
        width: 77.78vw;
        height: 7.57vw;
        margin: 2.01vw 0 0 11.11vw;

        .image_2 {
          width: 6.95vw;
          height: 6.95vw;
          margin-top: 0.63vw;
          border-radius: .35vw;
        }

        .text-wrapper_3 {
          width: 35.35vw;
          height: 5.49vw;
          margin: 0.34vw 0 0 1.52vw;

          .text_7 {
            width: 8.27vw;
            height: 1.67vw;
            overflow-wrap: break-word;
            color: rgba(51, 49, 50, 1);
            font-size: 1.66vw;
            font-family: Outfit;
            font-weight: 700;
            text-align: left;
            white-space: nowrap;
            line-height: normal;
          }

          .text_8 {
            width: 35.35vw;
            height: 3.2vw;
            overflow-wrap: break-word;
            color: rgba(165, 165, 165, 1);
            font-size: 0.97vw;
            font-family: Outfit-Medium;
            font-weight: 500;
            text-align: left;
            line-height: 1.39vw;
            margin-top: 0.63vw;
          }
        }

        .group_2 {
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          height: 7.57vw;
          margin-left: 9.1vw;
          width: 24.87vw;
          border-radius: .69vw;
          overflow: hidden;


          .box_4 {
            background-color: rgba(255, 255, 255, 1);
            width: 24.87vw;
            height: 7.57vw;

            .text_9 {
              width: 9.17vw;
              height: 2.3vw;
              overflow-wrap: break-word;
              color: rgba(0, 82, 254, 1);
              font-size: 1.66vw;
              font-family: Outfit;
              font-weight: 700;
              text-align: left;
              white-space: nowrap;
              line-height: normal;
              margin: 1.38vw 0 0 7.91vw;
            }

            .text-wrapper_4 {
              background-color: rgba(0, 82, 254, 1);
              border-radius: 20px;
              height: 2.5vw;
              width: 10.21vw;
              margin: 0.34vw 0 1.04vw 7.43vw;

              .text_10 {
                overflow-wrap: break-word;
                color: rgba(255, 255, 255, 1);
                font-size: 1.11vw;
                font-family: Outfit;
                font-weight: 700;
                text-align: center;
                white-space: nowrap;
                line-height: normal;
              }
            }
          }
        }
      }

      .text_11 {
        width: 12.85vw;
        height: 1.39vw;
        overflow-wrap: break-word;
        color: rgba(51, 49, 50, 1);
        font-size: 1.38vw;
        font-family: Outfit;
        font-weight: 700;
        text-align: left;
        white-space: nowrap;
        line-height: normal;
        margin: 5.41vw 0 0 11.25vw;
      }

      .box_5 {
        width: 77.71vw;
        margin: 1.94vw 0 0 11.11vw;

        .image-wrapper_1 {
          width: 78.55vw;

          .image_3-0 {
            width: 14.94vw;
            height: 26.39vw;
            margin-bottom: 0.77vw;
            margin-right: 0.77vw;
            border-radius: .69vw;
          }

          .image_3-1 {
            width: 14.94vw;
            height: 26.39vw;
            margin-right: 0.77vw;
          }

          .image_3-2 {
            width: 14.94vw;
            height: 26.39vw;
            margin-right: 0.77vw;
          }

          .image_3-3 {
            width: 14.94vw;
            height: 26.39vw;
            margin-right: 0.77vw;
          }
        }

        .section_1 {
          background-color: rgba(217, 217, 217, 1);
          border-radius: 10px;
          width: 14.94vw;
          height: 26.39vw;
        }
      }

      .box_6 {
        width: 77.78vw;
        margin: 2.7vw 0 2.77vw 11.11vw;

        .section_2 {
          width: 40.14vw;

          .text_12 {
            width: 15.14vw;
            height: 1.39vw;
            overflow-wrap: break-word;
            color: rgba(51, 49, 50, 1);
            font-size: 1.38vw;
            font-family: Outfit;
            font-weight: 700;
            text-align: left;
            white-space: nowrap;
            line-height: normal;
            margin-left: 0.14vw;
          }

          .text_13 {
            width: 40vw;
            // height: 4.52vw;
            overflow-wrap: break-word;
            color: rgba(165, 165, 165, 1);
            font-size: 0.97vw;
            font-family: Outfit-Medium;
            font-weight: 500;
            text-align: left;
            line-height: 1.39vw;
            margin: 1.94vw 0 0 0.13vw;
          }

          .label_2 {
            width: 1.67vw;
            height: 1.67vw;
            margin-top: 0.63vw;
          }
        }

        .section_3 {
          background-color: rgba(217, 217, 217, 1);
          border-radius: 10px;
          width: 25.21vw;
          margin-top: 0.42vw;
          padding-bottom: 1.39vw;

          .text_14 {
            width: 6.05vw;
            height: 0.84vw;
            overflow-wrap: break-word;
            color: rgba(62, 62, 62, 1);
            font-size: 0.83vw;
            font-family: Outfit;
            font-weight: 700;
            text-align: right;
            white-space: nowrap;
            line-height: normal;
            margin: 2.22vw 0 0 1.94vw;
          }

          .image-text_1 {
            width: 14.73vw;
            margin: 0.62vw 0 0 1.8vw;

            .label_3 {
              width: 1.67vw;
              height: 1.67vw;
              margin-right: .76vw;
            }

            .text-group_1 {
              // width: 12.44vw;
              margin-top: 0.42vw;

              .text_15 {
                width: 3.69vw;
                height: 0.84vw;
                overflow-wrap: break-word;
                color: rgba(165, 165, 165, 1);
                font-size: 0.83vw;
                font-family: Outfit;
                font-weight: normal;
                text-align: left;
                white-space: nowrap;
                line-height: normal;
              }

              .text_16 {
                overflow-wrap: break-word;
                color: rgba(51, 49, 50, 1);
                font-size: 0.97vw;
                font-family: Outfit;
                font-weight: normal;
                white-space: nowrap;
                line-height: normal;
                margin-top: 0.42vw;
              }
            }
          }

          .group_3 {
            width: 7.23vw;
            height: 2.64vw;
            margin: 0.34vw 0 0 1.8vw;

            .label_4 {
              width: 1.67vw;
              height: 1.67vw;
              margin-top: 0.98vw;
            }

            .group_4 {
              width: 4.94vw;
              height: 2.23vw;

              .label_5 {
                width: 1.67vw;
                height: 1.67vw;
                margin-left: 3.27vw;
              }

              .text_17 {
                width: 4.45vw;
                height: 0.84vw;
                overflow-wrap: break-word;
                color: rgba(165, 165, 165, 1);
                font-size: 0.83vw;
                font-family: Outfit;
                font-weight: normal;
                text-align: left;
                white-space: nowrap;
                line-height: normal;
                margin-top: -0.27vw;
              }
            }
          }

          .group_5 {
            width: 16.6vw;
            margin-top: .63vw;

            .group_6 {
              background-color: rgba(255, 255, 255, 1);
              border-radius: 2.08vw;
              min-width: 5.56vw;
              padding: 0 .69vw;
              height: 2.64vw;
              margin-right: .35vw;
              margin-bottom: .35vw;
              cursor: pointer;

              .image-text_2 {
                .box_7 {
                  background-color: rgba(51, 49, 50, 1);
                  width: 1.12vw;
                  height: 0.98vw;
                  margin-top: 0.07vw;
                }

                img{
                  width: 1.11vw;
                  height: 1.11vw;
                  margin-right: .14vw;
                }

                .text-group_2 {
                  overflow-wrap: break-word;
                  color: rgba(51, 49, 50, 1);
                  font-size: 0.97vw;
                  font-family: Outfit;
                  font-weight: normal;
                  text-align: right;
                  white-space: nowrap;
                  line-height: normal;
                }
              }
            }

            .group_7 {
              background-color: rgba(255, 255, 255, 1);
              border-radius: 30px;
              width: 8.13vw;
              height: 2.64vw;

              .image-text_3 {
                width: 6.74vw;
                height: 1.39vw;
                margin: 0.62vw 0 0 0.69vw;

                .thumbnail_3 {
                  width: 1.39vw;
                  height: 1.39vw;
                }

                .text-group_3 {
                  width: 5.21vw;
                  height: 0.98vw;
                  overflow-wrap: break-word;
                  color: rgba(51, 49, 50, 1);
                  font-size: 0.97vw;
                  font-family: Outfit;
                  font-weight: normal;
                  text-align: right;
                  white-space: nowrap;
                  line-height: normal;
                  margin-top: 0.14vw;
                }
              }
            }
          }

          .image-text_4 {
            width: 5.7vw;
            height: 1.39vw;
            margin: 0.83vw 0 0 1.94vw;

            .thumbnail_4 {
              width: 1.39vw;
              height: 1.39vw;
            }

            .text-group_4 {
              width: 3.55vw;
              height: 0.84vw;
              overflow-wrap: break-word;
              color: rgba(165, 165, 165, 1);
              font-size: 0.83vw;
              font-family: Outfit;
              font-weight: normal;
              text-align: left;
              white-space: nowrap;
              line-height: normal;
              margin-top: 0.35vw;
            }
          }

          .text-wrapper_5 {
            background-color: rgba(255, 255, 255, 1);
            border-radius: 30px;
            height: 2.64vw;
            width: 6.6vw;
            margin: 0.2vw 0 0 3.88vw;

            .text_18 {
              width: 5.21vw;
              height: 0.98vw;
              overflow-wrap: break-word;
              color: rgba(51, 49, 50, 1);
              font-size: 0.97vw;
              font-family: Outfit;
              font-weight: normal;
              text-align: right;
              white-space: nowrap;
              line-height: normal;
              margin: 0.76vw 0 0 0.69vw;
            }
          }

          .image-text_5 {
            width: 19.31vw;
            height: 5.49vw;
            margin: 1.39vw 0 0.97vw 1.8vw;
            padding-top: 1.04vw;
            border-top: 1px solid #A5A5A5;

            .label_6 {
              width: 1.67vw;
              height: 1.67vw;
            }

            .text-group_5 {
              width: 16.88vw;
              height: 5.49vw;
              overflow-wrap: break-word;
              font-size: 0;
              font-family: Outfit;
              font-weight: normal;
              text-align: left;
              line-height: 1.12vw;

              .text_19 {
                width: 16.88vw;
                height: 5.49vw;
                overflow-wrap: break-word;
                color: rgba(51, 49, 50, 1);
                font-size: 0.83vw;
                font-family: Outfit;
                font-weight: normal;
                text-align: left;
                line-height: 1.12vw;
              }

              .text_20 {
                width: 16.88vw;
                height: 5.49vw;
                overflow-wrap: break-word;
                color: rgba(51, 49, 50, 1);
                font-size: 0.83vw;
                font-family: Outfit;
                text-decoration: underline;
                font-weight: normal;
                text-align: left;
                line-height: 1.12vw;
              }

              .text_21 {
                width: 16.88vw;
                height: 5.49vw;
                overflow-wrap: break-word;
                color: rgba(51, 49, 50, 1);
                font-size: 0.83vw;
                font-family: Outfit;
                font-weight: normal;
                text-align: left;
                line-height: 1.12vw;
              }

              .text_22 {
                width: 16.88vw;
                height: 5.49vw;
                overflow-wrap: break-word;
                color: rgba(51, 49, 50, 1);
                font-size: 0.83vw;
                font-family: Outfit;
                text-decoration: underline;
                font-weight: normal;
                text-align: left;
                line-height: 1.12vw;
              }
            }
          }
        }
      }
    }

    .block_3 {
      background-color: rgba(51, 49, 50, 1);
      width: 100vw;
      height: 6.19vw;
      justify-content: flex-center;
      margin: 89.3vw 0 0 -100vw;

      .image_4 {
        width: 14.1vw;
        height: 4.24vw;
        margin: 1.04vw 0 0 11.11vw;
      }

      .text_23 {
        width: 3.34vw;
        height: 0.98vw;
        overflow-wrap: break-word;
        color: rgba(238, 238, 238, 1);
        font-size: 0.97vw;
        font-family: Outfit;
        font-weight: 700;
        text-align: left;
        white-space: nowrap;
        line-height: normal;
        margin: 2.7vw 0 0 36.73vw;
      }

      .text_24 {
        width: 2.78vw;
        height: 0.98vw;
        overflow-wrap: break-word;
        color: rgba(238, 238, 238, 1);
        font-size: 0.97vw;
        font-family: Outfit;
        font-weight: 700;
        text-align: left;
        white-space: nowrap;
        line-height: normal;
        margin: 2.7vw 0 0 1.45vw;
      }

      .text_25 {
        width: 4.52vw;
        height: 0.98vw;
        overflow-wrap: break-word;
        color: rgba(238, 238, 238, 1);
        font-size: 0.97vw;
        font-family: Outfit;
        font-weight: 700;
        text-align: left;
        white-space: nowrap;
        line-height: normal;
        margin: 2.7vw 0 0 1.45vw;
      }

      .image_5 {
        width: 3.48vw;
        height: 3.48vw;
        margin: 1.38vw 0 0 2.08vw;
      }

      .section_4 {
        background-color: rgba(255, 255, 255, 1);
        border-radius: 25px;
        position: relative;
        width: 3.48vw;
        height: 3.48vw;
        margin: 1.38vw 0 0 0.48vw;

        .block_4 {
          background-color: rgba(248, 157, 53, 1);
          height: 0.63vw;
          width: 0.7vw;
          margin: 1.59vw 0 0 0.69vw;

          .section_5 {
            background-color: rgba(216, 124, 48, 1);
            position: relative;
            width: 0.49vw;
            height: 0.28vw;
            margin: 0.2vw 0 0 0.41vw;

            .section_6 {
              background-color: rgba(234, 141, 58, 1);
              position: absolute;
              left: 0;
              top: 0;
              width: 0.21vw;
              height: 0.35vw;
            }

            .section_7 {
              background-color: rgba(248, 157, 53, 1);
              position: absolute;
              left: 0.21vw;
              top: 0.14vw;
              width: 0.35vw;
              height: 0.35vw;

              .box_8 {
                background-color: rgba(235, 143, 53, 1);
                height: 0.35vw;
                width: 0.35vw;
                position: absolute;
                left: -0.06vw;
                top: 0.21vw;

                .box_9 {
                  background-color: rgba(216, 124, 48, 1);
                  position: relative;
                  width: 0.28vw;
                  height: 0.35vw;
                  margin-left: -0.2vw;

                  .block_5 {
                    background-color: rgba(235, 143, 53, 1);
                    position: absolute;
                    left: -0.34vw;
                    top: 0;
                    width: 0.63vw;
                    height: 0.49vw;
                  }

                  .block_6 {
                    background-color: rgba(223, 206, 195, 1);
                    position: absolute;
                    left: 0.21vw;
                    top: 0.14vw;
                    width: 0.35vw;
                    height: 0.28vw;
                  }
                }
              }

              .image-wrapper_2 {
                background-color: rgba(234, 142, 58, 1);
                height: 0.49vw;
                width: 0.14vw;
                position: absolute;
                left: 0.21vw;
                top: -0.13vw;

                .thumbnail_5 {
                  width: 0.28vw;
                  height: 0.14vw;
                  margin: 0.06vw 0 0 -0.2vw;
                }
              }
            }
          }
        }

        .block_7 {
          background-color: rgba(57, 57, 57, 1);
          width: 0.42vw;
          height: 0.21vw;
          margin-left: 1.6vw;
        }

        .block_8 {
          width: 0.98vw;
          height: 0.21vw;
          margin: 0 0 0.83vw 1.25vw;

          .block_9 {
            background-color: rgba(205, 189, 178, 1);
            width: 0.49vw;
            height: 0.21vw;
          }

          .thumbnail_6 {
            width: 0.49vw;
            height: 0.21vw;
          }
        }

        .block_10 {
          background-color: rgba(248, 156, 53, 1);
          position: absolute;
          left: 1.46vw;
          top: 1.05vw;
          width: 0.63vw;
          height: 1.25vw;
        }

        .block_11 {
          background-color: rgba(232, 130, 30, 1);
          position: absolute;
          left: 1.12vw;
          top: 1.39vw;
          width: 0.49vw;
          height: 0.49vw;
        }

        .thumbnail_7 {
          position: absolute;
          left: 1.88vw;
          top: 2.3vw;
          width: 0.35vw;
          height: 0.28vw;
        }

        .block_12 {
          background-color: rgba(232, 143, 53, 1);
          position: absolute;
          left: 0.77vw;
          top: 0.84vw;
          width: 0.84vw;
          height: 0.63vw;
        }

        .block_13 {
          background-color: rgba(142, 90, 48, 1);
          position: absolute;
          left: 0.7vw;
          top: 0.84vw;
          width: 0.91vw;
          height: 0.98vw;
        }

        .image_6 {
          position: absolute;
          left: 1.88vw;
          top: 0.84vw;
          width: 0.98vw;
          height: 1.88vw;
        }
      }

      .image_7 {
        width: 3.48vw;
        height: 3.48vw;
        margin: 1.45vw 11.11vw 0 0.41vw;
      }
    }
  }
}