.footer_ {
    width: 100%;
    padding: 1.04vw 0 1.04vw 11.11vw;
    background: #333132;

    .image_18 {
        width: 14.1vw;
        height: 4.24vw;
    }

    .text_75 {
        width: 3.34vw;
        height: 0.98vw;
        overflow-wrap: break-word;
        color: rgba(238, 238, 238, 1);
        font-size: 0.97vw;
        font-family: Outfit;
        font-weight: 700;
        text-align: left;
        white-space: nowrap;
        line-height: 0.98vw;
        margin: 1.66vw 0 0 36.73vw;
    }

    .text_76 {
        width: 2.78vw;
        height: 0.98vw;
        overflow-wrap: break-word;
        color: rgba(238, 238, 238, 1);
        font-size: 0.97vw;
        font-family: Outfit;
        font-weight: 700;
        text-align: left;
        white-space: nowrap;
        line-height: 0.98vw;
        margin: 1.66vw 0 0 1.45vw;
    }

    .text_77 {
        width: 4.52vw;
        height: 0.98vw;
        overflow-wrap: break-word;
        color: rgba(238, 238, 238, 1);
        font-size: 0.97vw;
        font-family: Outfit;
        font-weight: 700;
        text-align: left;
        white-space: nowrap;
        line-height: 0.98vw;
        margin: 1.66vw 0 0 1.45vw;
    }

    .image_19 {
        width: 3.48vw;
        height: 3.48vw;
        margin: 0.34vw 0 0 2.08vw;
    }

    .box_21 {
        background-color: rgba(255, 255, 255, 1);
        border-radius: 50%;
        position: relative;
        width: 3.48vw;
        height: 3.48vw;
        margin: 0.34vw 0 0 0.48vw;

        .box_22 {
            background-color: rgba(248, 157, 53, 1);
            height: 0.63vw;
            width: 0.7vw;
            margin: 1.59vw 0 0 0.69vw;

            .block_10 {
                background-color: rgba(216, 124, 48, 1);
                position: relative;
                width: 0.49vw;
                height: 0.28vw;
                margin: 0.2vw 0 0 0.41vw;

                .group_17 {
                    background-color: rgba(234, 141, 58, 1);
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 0.21vw;
                    height: 0.35vw;
                }

                .group_18 {
                    background-color: rgba(248, 157, 53, 1);
                    position: absolute;
                    left: 0.21vw;
                    top: 0.14vw;
                    width: 0.35vw;
                    height: 0.35vw;

                    .group_19 {
                        background-color: rgba(235, 143, 53, 1);
                        position: absolute;
                        left: -0.06vw;
                        top: 0.21vw;
                        width: 0.35vw;
                        height: 0.35vw;

                        .group_20 {
                            background-color: rgba(235, 143, 53, 1);
                            position: absolute;
                            left: -0.55vw;
                            top: 0;
                            width: 0.63vw;
                            height: 0.49vw;
                        }

                        .group_21 {
                            background-color: rgba(223, 206, 195, 1);
                            position: absolute;
                            left: 0;
                            top: 0.14vw;
                            width: 0.35vw;
                            height: 0.28vw;
                        }
                    }

                    .image-wrapper_5 {
                        background-color: rgba(234, 142, 58, 1);
                        height: 0.49vw;
                        width: 0.14vw;
                        position: absolute;
                        left: 0.21vw;
                        top: -0.13vw;

                        .thumbnail_1 {
                            width: 0.28vw;
                            height: 0.14vw;
                            margin: 0.06vw 0 0 -0.2vw;
                        }
                    }
                }
            }
        }

        .box_23 {
            background-color: rgba(57, 57, 57, 1);
            width: 0.42vw;
            height: 0.21vw;
            margin-left: 1.6vw;
        }

        .box_34 {
            width: 0.98vw;
            height: 0.21vw;
            margin: 0 0 0.83vw 1.25vw;

            .box_25 {
                background-color: rgba(205, 189, 178, 1);
                width: 0.49vw;
                height: 0.21vw;
            }

            .thumbnail_2 {
                width: 0.49vw;
                height: 0.21vw;
            }
        }

        .box_26 {
            background-color: rgba(248, 156, 53, 1);
            position: absolute;
            left: 1.46vw;
            top: 1.05vw;
            width: 0.63vw;
            height: 1.25vw;
        }

        .box_27 {
            background-color: rgba(232, 130, 30, 1);
            position: absolute;
            left: 1.12vw;
            top: 1.39vw;
            width: 0.49vw;
            height: 0.49vw;
        }

        .thumbnail_3 {
            position: absolute;
            left: 1.88vw;
            top: 2.3vw;
            width: 0.35vw;
            height: 0.28vw;
        }

        .box_28 {
            background-color: rgba(142, 90, 48, 1);
            position: absolute;
            left: 0.7vw;
            top: 0.84vw;
            width: 0.91vw;
            height: 0.98vw;
        }

        .image_20 {
            position: absolute;
            left: 1.88vw;
            top: 0.84vw;
            width: 0.98vw;
            height: 1.88vw;
        }
    }

    .image_21 {
        width: 3.48vw;
        height: 3.48vw;
        margin: 0.41vw 0 0 0.41vw;
    }
}