.page {
    background-color: rgba(238, 238, 238, 1);
    position: relative;
    width: 100vw;
    overflow: hidden;

    .box_29 {
        width: calc(100% - 5.97vw);
        height: 43.62vw;
        margin: 5.34vw 0 0 5.97vw;
        position: relative;

        .block_11 {
            position: relative;
            width: 53.75vw;
            height: 43.62vw;
            background: url('/images/bannerBg.png') 100% no-repeat;
            background-size: 100% 100%;

            .paragraph_1 {
                min-width: 22.92vw;
                height: 3.34vw;
                overflow-wrap: break-word;
                color: rgba(51, 49, 50, 1);
                font-size: 1.66vw;
                font-family: Outfit;
                font-weight: normal;
                text-align: left;
                line-height: normal;
                margin: 14.09vw 0 0 7.22vw;
            }

            .text-wrapper_22 {
                width: 20.98vw;
                height: 2.5vw;
                margin: 6.59vw 0 0 7.15vw;

                .text_1 {
                    width: 5.35vw;
                    height: 0.98vw;
                    overflow-wrap: break-word;
                    color: rgba(51, 49, 50, 1);
                    font-size: 0.97vw;
                    font-family: Outfit;
                    font-weight: normal;
                    text-align: center;
                    white-space: nowrap;
                    line-height: 0.98vw;
                    margin-top: 0.77vw;
                }

                .text_2 {
                    width: 4.1vw;
                    height: 2.5vw;
                    overflow-wrap: break-word;
                    color: rgba(0, 82, 254, 1);
                    font-size: 2.5vw;
                    font-family: Outfit;
                    font-weight: 700;
                    text-align: center;
                    white-space: nowrap;
                    line-height: 2.5vw;
                    margin-left: 0.35vw;
                }

                .text_3 {
                    width: 5.91vw;
                    height: 0.98vw;
                    overflow-wrap: break-word;
                    color: rgba(51, 49, 50, 1);
                    font-size: 0.97vw;
                    font-family: Outfit;
                    font-weight: normal;
                    text-align: center;
                    white-space: nowrap;
                    line-height: 0.98vw;
                    margin: 0.76vw 0 0 1.59vw;
                }

                .text_4 {
                    width: 2.85vw;
                    height: 2.5vw;
                    overflow-wrap: break-word;
                    color: rgba(0, 82, 254, 1);
                    font-size: 2.5vw;
                    font-family: Outfit;
                    font-weight: 700;
                    text-align: center;
                    white-space: nowrap;
                    line-height: 2.5vw;
                    margin-left: 0.84vw;
                }
            }

            .text-wrapper_2 {
                background-color: rgba(0, 82, 254, 1);
                border-radius: 30px;
                height: 3.75vw;
                width: 22.16vw;
                margin: 0.62vw 0 12.7vw 7.15vw;

                .text_5 {
                    width: 16.39vw;
                    height: 1.39vw;
                    overflow-wrap: break-word;
                    color: rgba(255, 255, 255, 1);
                    font-size: 1.38vw;
                    font-family: Outfit;
                    font-weight: 700;
                    text-align: center;
                    white-space: nowrap;
                    line-height: 1.39vw;
                    margin: 1.18vw 0 0 2.91vw;
                }
            }

            .box_1 {
                background-image: linear-gradient(180deg, rgba(238, 238, 238, 1) 0, rgba(238, 238, 238, 0) 100%);
                height: 16.95vw;
                width: 100vw;
                position: absolute;
                left: -5.97vw;
                top: -3.47vw;

               

                .text-wrapper_23 {
                    width: 32.23vw;
                    height: 6.12vw;
                    margin: 5.27vw 0 0.62vw 12.84vw;

                    .text_9 {
                        width: 32.23vw;
                        height: 6.12vw;
                        overflow-wrap: break-word;
                        color: rgba(51, 49, 50, 1);
                        font-size: 4.86vw;
                        font-family: Outfit;
                        font-weight: 700;
                        text-align: left;
                        white-space: nowrap;
                        line-height: normal;
                    }
                }

                .image-wrapper_1 {
                    height: 25vw;
                    width: 45.14vw;
                    position: absolute;
                    left: 43.75vw;
                    top: 9.03vw;
                    border-radius: 1.39vw;
                    overflow: hidden;

                    img{
                        height: 100%;
                        width: 100%;
                        
                    }
                }
            }

            .group_2 {
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                background-color: rgba(255, 255, 255, 1);
                border-radius: 10px;
                height: auto;
                width: 77.78vw;
                position: absolute;
                left: 5.21vw;
                top: 33.27vw;
                padding-bottom: 1vw;

                .section_7 {
                    width: 72.09vw;
                    height: 2.44vw;
                    margin: 1.59vw 0 0 2.56vw;

                    .text_10 {
                        width: 10.07vw;
                        height: 1.39vw;
                        overflow-wrap: break-word;
                        color: rgba(51, 49, 50, 1);
                        font-size: 1.38vw;
                        font-family: Outfit;
                        font-weight: 700;
                        text-align: center;
                        white-space: nowrap;
                        line-height: 1.12vw;
                        margin-top: 0.42vw;
                    }

                    .image-wrapper_2 {
                        background-color: rgba(238, 238, 238, 1);
                        border-radius: 5px;
                        height: 2.44vw;
                        width: 2.44vw;
                        cursor: pointer;

                        .label_2 {
                            width: 1.67vw;
                            height: 1.67vw;
                            margin: 0.41vw 0 0 0.41vw;
                        }
                    }
                }

                .section_8 {
                    width: 100%;
                    // height: 7.3vw;
                    margin-top: 1.8vw;
                    padding: 0 2.56vw;

                    .block_3 {
                        background-color: rgba(238, 238, 238, 1);
                        border-radius: 5px;
                        width: 23.2vw;
                        height: 7.3vw;
                        margin-bottom: .89vw;

                        .image-text_12 {
                            width: 21.53vw;
                            height: 4.52vw;
                            margin: 1.31vw 0 0 1.25vw;

                            .image_4 {
                                width: 4.52vw;
                                height: 4.52vw;
                                border-radius: .35vw;
                            }

                            .text-group_17 {
                                width: 16.25vw;
                                height: 3.27vw;
                                margin-top: 0.07vw;

                                .text_11 {
                                    width: 4.87vw;
                                    height: 0.98vw;
                                    overflow-wrap: break-word;
                                    color: rgba(51, 49, 50, 1);
                                    font-size: 0.97vw;
                                    font-family: Outfit;
                                    font-weight: 700;
                                    text-align: left;
                                    white-space: nowrap;
                                    line-height: 0.98vw;
                                }

                                .text_12 {
                                    width: 16.25vw;
                                    min-height: 1.95vw;
                                    overflow-wrap: break-word;
                                    color: rgba(165, 165, 165, 1);
                                    font-size: 0.69vw;
                                    font-family: Outfit;
                                    font-weight: 500;
                                    text-align: left;
                                    margin-top: 0.35vw;
                                }
                            }
                        }
                    }

                    .block_4 {
                        background-color: rgba(238, 238, 238, 1);
                        border-radius: 5px;
                        width: 23.2vw;
                        height: 7.3vw;

                        .image-text_13 {
                            width: 21.53vw;
                            height: 4.52vw;
                            margin: 1.31vw 0 0 1.25vw;

                            .image_5 {
                                width: 4.52vw;
                                height: 4.52vw;
                            }

                            .text-group_18 {
                                width: 16.25vw;
                                height: 3.27vw;
                                margin-top: 0.07vw;

                                .text_13 {
                                    width: 4.8vw;
                                    height: 0.98vw;
                                    overflow-wrap: break-word;
                                    color: rgba(51, 49, 50, 1);
                                    font-size: 0.97vw;
                                    font-family: Outfit;
                                    font-weight: 700;
                                    text-align: left;
                                    white-space: nowrap;
                                    line-height: 0.98vw;
                                }

                                .text_14 {
                                    width: 16.25vw;
                                    height: 1.95vw;
                                    overflow-wrap: break-word;
                                    color: rgba(165, 165, 165, 1);
                                    font-size: 0.69vw;
                                    font-family: Outfit;
                                    font-weight: 500;
                                    text-align: left;
                                    line-height: normal;
                                    margin-top: 0.35vw;
                                }
                            }
                        }
                    }
                }

                .section_9 {
                    width: 72.09vw;
                    height: 7.3vw;
                    margin: 1.18vw 0 2.7vw 2.56vw;

                    .block_6 {
                        background-color: rgba(238, 238, 238, 1);
                        border-radius: 5px;
                        width: 23.2vw;
                        height: 7.3vw;

                        .image-text_14 {
                            width: 21.53vw;
                            height: 4.52vw;
                            margin: 1.31vw 0 0 1.25vw;

                            .image_6 {
                                width: 4.52vw;
                                height: 4.52vw;
                            }

                            .text-group_19 {
                                width: 16.25vw;
                                height: 3.27vw;
                                margin-top: 0.07vw;

                                .text_15 {
                                    width: 6.46vw;
                                    height: 0.98vw;
                                    overflow-wrap: break-word;
                                    color: rgba(51, 49, 50, 1);
                                    font-size: 0.97vw;
                                    font-family: Outfit;
                                    font-weight: 700;
                                    text-align: left;
                                    white-space: nowrap;
                                    line-height: 0.98vw;
                                }

                                .text_16 {
                                    width: 16.25vw;
                                    height: 1.95vw;
                                    overflow-wrap: break-word;
                                    color: rgba(165, 165, 165, 1);
                                    font-size: 0.69vw;
                                    font-family: Outfit;
                                    font-weight: 500;
                                    text-align: left;
                                    line-height: normal;
                                    margin-top: 0.35vw;
                                }
                            }
                        }
                    }

                    .block_7 {
                        background-color: rgba(238, 238, 238, 1);
                        border-radius: 5px;
                        width: 23.2vw;
                        height: 7.3vw;
                        margin-left: 1.25vw;

                        .image_7 {
                            width: 4.52vw;
                            height: 4.52vw;
                            margin: 1.31vw 0 0 1.25vw;
                        }

                        .text-group_20 {
                            width: 16.25vw;
                            height: 3.27vw;
                            margin: 1.38vw 0.41vw 0 0.76vw;

                            .text_17 {
                                width: 3.13vw;
                                height: 0.98vw;
                                overflow-wrap: break-word;
                                color: rgba(51, 49, 50, 1);
                                font-size: 0.97vw;
                                font-family: Outfit;
                                font-weight: 700;
                                text-align: left;
                                white-space: nowrap;
                                line-height: 0.98vw;
                            }

                            .text_18 {
                                width: 16.25vw;
                                height: 1.95vw;
                                overflow-wrap: break-word;
                                color: rgba(165, 165, 165, 1);
                                font-size: 0.69vw;
                                font-family: Outfit;
                                font-weight: 500;
                                text-align: left;
                                line-height: normal;
                                margin-top: 0.35vw;
                            }
                        }
                    }

                    .block_8 {
                        background-color: rgba(238, 238, 238, 1);
                        border-radius: 5px;
                        width: 23.2vw;
                        height: 7.3vw;
                        margin-left: 1.25vw;

                        .image-text_15 {
                            width: 21.53vw;
                            height: 4.52vw;
                            margin: 1.31vw 0 0 1.25vw;

                            .image_8 {
                                width: 4.52vw;
                                height: 4.52vw;
                            }

                            .text-group_21 {
                                width: 16.25vw;
                                height: 3.27vw;
                                margin-top: 0.07vw;

                                .text_19 {
                                    width: 5.07vw;
                                    height: 0.98vw;
                                    overflow-wrap: break-word;
                                    color: rgba(51, 49, 50, 1);
                                    font-size: 0.97vw;
                                    font-family: Outfit;
                                    font-weight: 700;
                                    text-align: left;
                                    white-space: nowrap;
                                    line-height: 0.98vw;
                                }

                                .text_20 {
                                    width: 16.25vw;
                                    height: 1.95vw;
                                    overflow-wrap: break-word;
                                    color: rgba(165, 165, 165, 1);
                                    font-size: 0.69vw;
                                    font-family: Outfit;
                                    font-weight: 500;
                                    text-align: left;
                                    line-height: normal;
                                    margin-top: 0.35vw;
                                }
                            }
                        }
                    }
                }
            }
        }

        .image_2 {
            width: 11.6vw;
            height: 9.94vw;
            // margin-top: 30.14vw;
            position: absolute;
            top: 26.12vw;
            right: 18.06vw;
            z-index: 10;
        }
    }

    .box_31 {
        width: 77.64vw;
        height: 3.75vw;
        margin: 16.38vw 0 0 11.25vw;

        .text-group_22 {
            width: 16.25vw;
            height: 3.75vw;

            .text_21 {
                width: 7.92vw;
                height: 1.39vw;
                overflow-wrap: break-word;
                color: rgba(51, 49, 50, 1);
                font-size: 1.38vw;
                font-family: Outfit;
                font-weight: 700;
                text-align: left;
                white-space: nowrap;
                line-height: 1.12vw;
            }

            .text_22 {
                width: 16.25vw;
                height: 1.95vw;
                overflow-wrap: break-word;
                color: rgba(165, 165, 165, 1);
                font-size: 0.69vw;
                font-family: Outfit;
                font-weight: 500;
                text-align: left;
                line-height: normal;
                margin-top: 0.42vw;
            }
        }

        .image-wrapper_3 {
            background-color: rgba(255, 255, 255, 1);
            border-radius: 5px;
            height: 2.44vw;
            margin-top: 0.35vw;
            width: 2.44vw;

            .label_3 {
                width: 1.67vw;
                height: 1.67vw;
                margin: 0.41vw 0 0 0.34vw;
            }
        }
    }

    .box_32 {
        width: 77.78vw;
        height: 11.46vw;
        margin: 0.34vw 0 0 11.11vw;

        .section_1 {
            background-color: rgba(255, 255, 255, 1);
            border-radius: 10px;
            width: 25vw;
            height: 11.46vw;

            .image-text_16 {
                width: 21.95vw;
                height: 4.52vw;
                margin: 1.31vw 0 0 1.52vw;

                .image_9 {
                    width: 4.52vw;
                    height: 4.52vw;
                    border-radius: .35vw;
                }

                .text-group_23 {
                    width: 16.67vw;
                    height: 3.27vw;
                    margin-top: 0.77vw;

                    .text_23 {
                        width: 6.25vw;
                        height: 0.98vw;
                        overflow-wrap: break-word;
                        color: rgba(51, 49, 50, 1);
                        font-size: 0.97vw;
                        font-family: Outfit;
                        font-weight: 700;
                        text-align: left;
                        white-space: nowrap;
                        line-height: 0.98vw;
                    }

                    .text_24 {
                        width: 16.67vw;
                        height: 1.95vw;
                        overflow-wrap: break-word;
                        color: rgba(165, 165, 165, 1);
                        font-size: 0.69vw;
                        font-family: Outfit;
                        font-weight: 500;
                        text-align: left;
                        line-height: normal;
                        margin-top: 0.35vw;
                    }
                }
            }

            .block_12 {
                width: 21.74vw;
                height: 1.88vw;
                margin: 2.22vw 0 1.52vw 1.73vw;

                .text_25 {
                    width: 5.28vw;
                    height: 0.98vw;
                    overflow-wrap: break-word;
                    color: rgba(0, 82, 254, 1);
                    font-size: 0.97vw;
                    font-family: Outfit;
                    font-weight: 700;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 0.98vw;
                    margin-top: 0.49vw;
                }

                .text-wrapper_6 {
                    background-color: rgba(0, 82, 254, 1);
                    border-radius: 20px;
                    height: 1.88vw;
                    width: 5.49vw;

                    .text_26 {
                        width: 3.13vw;
                        height: 1.12vw;
                        overflow-wrap: break-word;
                        color: rgba(255, 255, 255, 1);
                        font-size: 1.11vw;
                        font-family: Outfit;
                        font-weight: 700;
                        text-align: center;
                        white-space: nowrap;
                        line-height: 1.12vw;
                        margin: 0.41vw 0 0 1.18vw;
                    }
                }
            }
        }

        .box_5 {
            background-color: rgba(255, 255, 255, 1);
            border-radius: 10px;
            width: 25vw;
            height: 11.46vw;
            margin-left: 1.39vw;

            .image-text_17 {
                width: 21.95vw;
                height: 4.52vw;
                margin: 1.31vw 0 0 1.52vw;

                .image_10 {
                    width: 4.52vw;
                    height: 4.52vw;
                }

                .text-group_24 {
                    width: 16.67vw;
                    height: 3.27vw;
                    margin-top: 0.77vw;

                    .text_27 {
                        width: 5.91vw;
                        height: 0.98vw;
                        overflow-wrap: break-word;
                        color: rgba(51, 49, 50, 1);
                        font-size: 0.97vw;
                        font-family: Outfit;
                        font-weight: 700;
                        text-align: left;
                        white-space: nowrap;
                        line-height: 0.98vw;
                    }

                    .paragraph_2 {
                        width: 16.67vw;
                        height: 1.95vw;
                        overflow-wrap: break-word;
                        color: rgba(165, 165, 165, 1);
                        font-size: 0.69vw;
                        font-family: Outfit;
                        font-weight: 500;
                        text-align: left;
                        margin-top: 0.35vw;
                    }
                }
            }

            .section_10 {
                width: 21.74vw;
                height: 1.88vw;
                margin: 2.22vw 0 1.52vw 1.73vw;

                .text_28 {
                    width: 5.28vw;
                    height: 0.98vw;
                    overflow-wrap: break-word;
                    color: rgba(0, 82, 254, 1);
                    font-size: 0.97vw;
                    font-family: Outfit;
                    font-weight: 700;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 0.98vw;
                    margin-top: 0.49vw;
                }

                .text-wrapper_7 {
                    background-color: rgba(0, 82, 254, 1);
                    border-radius: 20px;
                    height: 1.88vw;
                    width: 5.49vw;

                    .text_29 {
                        width: 3.13vw;
                        height: 1.12vw;
                        overflow-wrap: break-word;
                        color: rgba(255, 255, 255, 1);
                        font-size: 1.11vw;
                        font-family: Outfit;
                        font-weight: 700;
                        text-align: center;
                        white-space: nowrap;
                        line-height: 1.12vw;
                        margin: 0.41vw 0 0 1.18vw;
                    }
                }
            }
        }

        .group_8 {
            background-color: rgba(255, 255, 255, 1);
            border-radius: 10px;
            width: 25vw;
            height: 11.46vw;
            margin-left: 1.39vw;

            .section_11 {
                width: 21.95vw;
                height: 4.52vw;
                margin: 1.31vw 0 0 1.52vw;

                .image_11 {
                    width: 4.52vw;
                    height: 4.52vw;
                }

                .text-group_25 {
                    width: 16.67vw;
                    height: 3.27vw;
                    margin-top: 0.77vw;

                    .text_30 {
                        width: 3.48vw;
                        height: 0.98vw;
                        overflow-wrap: break-word;
                        color: rgba(51, 49, 50, 1);
                        font-size: 0.97vw;
                        font-family: Outfit;
                        font-weight: 700;
                        text-align: left;
                        white-space: nowrap;
                        line-height: 0.98vw;
                    }

                    .text_31 {
                        width: 16.67vw;
                        height: 1.95vw;
                        overflow-wrap: break-word;
                        color: rgba(165, 165, 165, 1);
                        font-size: 0.69vw;
                        font-family: Outfit;
                        font-weight: 500;
                        text-align: left;
                        line-height: normal;
                        margin-top: 0.35vw;
                    }
                }
            }

            .section_12 {
                width: 21.74vw;
                height: 1.88vw;
                margin: 2.22vw 0 1.52vw 1.73vw;

                .text_32 {
                    width: 5.28vw;
                    height: 0.98vw;
                    overflow-wrap: break-word;
                    color: rgba(0, 82, 254, 1);
                    font-size: 0.97vw;
                    font-family: Outfit;
                    font-weight: 700;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 0.98vw;
                    margin-top: 0.49vw;
                }

                .text-wrapper_8 {
                    background-color: rgba(0, 82, 254, 1);
                    border-radius: 20px;
                    height: 1.88vw;
                    width: 5.49vw;

                    .text_33 {
                        width: 3.13vw;
                        height: 1.12vw;
                        overflow-wrap: break-word;
                        color: rgba(255, 255, 255, 1);
                        font-size: 1.11vw;
                        font-family: Outfit;
                        font-weight: 700;
                        text-align: center;
                        white-space: nowrap;
                        line-height: 1.12vw;
                        margin: 0.41vw 0 0 1.18vw;
                    }
                }
            }
        }
    }

    .group_9 {
        background-color: rgba(51, 49, 50, 1);
        width: 100vw;
        margin: 2.84vw 0 0.13vw 0;
        padding-bottom: 3.68vw;

        .text-group_26 {
            width: 16.25vw;
            height: 3.96vw;
            margin: 2.63vw 0 0 11.25vw;

            .text_34 {
                width: 8.48vw;
                height: 1.39vw;
                overflow-wrap: break-word;
                color: rgba(238, 238, 238, 1);
                font-size: 1.38vw;
                font-family: Outfit;
                font-weight: 700;
                text-align: left;
                white-space: nowrap;
                line-height: 1.12vw;
            }

            .text_35 {
                width: 16.25vw;
                height: 1.95vw;
                overflow-wrap: break-word;
                color: rgba(165, 165, 165, 1);
                font-size: 0.69vw;
                font-family: Outfit;
                font-weight: 500;
                text-align: left;
                line-height: normal;
                margin-top: 0.63vw;
            }
        }

        .group_23 {
            width: 77.64vw;
            // height: 2.44vw;
            margin-left: 11.25vw;

            .group_10 {
                background-color: rgba(51, 49, 50, 1);
                border-radius: 5px;
                height: 1.95vw;
                border: 1px solid rgba(165, 165, 165, 1);
                margin-top: 0.28vw;
                min-width: 4.59vw;
                padding: 0 0.69vw;
                margin-right: .56vw;
                cursor: pointer;


                .text-wrapper_9 {
                    // width: 3.2vw;
                    height: 1.12vw;
                    overflow-wrap: break-word;
                    font-size: 0;
                    font-family: Outfit;
                    font-weight: normal;
                    text-align: center;
                    white-space: nowrap;
                    line-height: 1.12vw;
                    // margin: 0.41vw 0.69vw 0 0.69vw;

                    .text_36 {
                        width: 3.2vw;
                        height: 1.12vw;
                        overflow-wrap: break-word;
                        color: rgba(255, 255, 255, 1);
                        font-size: 1.11vw;
                        font-family: Outfit;
                        font-weight: normal;
                        text-align: center;
                        white-space: nowrap;
                        line-height: 1.12vw;
                    }

                    .text_37 {
                        width: 3.2vw;
                        height: 1.12vw;
                        overflow-wrap: break-word;
                        color: rgba(255, 255, 255, 1);
                        font-size: 1.11vw;
                        font-family: Outfit;
                        font-weight: 500;
                        text-align: center;
                        white-space: nowrap;
                        line-height: 1.12vw;
                    }

                    .text_38 {
                        width: 3.2vw;
                        height: 1.12vw;
                        overflow-wrap: break-word;
                        color: rgba(255, 255, 255, 1);
                        font-size: 1.11vw;
                        font-family: Outfit;
                        font-weight: 700;
                        text-align: center;
                        white-space: nowrap;
                        line-height: 1.12vw;
                    }
                }
            }

            .category_active{
                background: #0052FE;
                border-color: #0052FE;

                span{
                    color: #fff;
                }
            }

            .image-wrapper_4 {
                background-color: rgba(238, 238, 238, 1);
                border-radius: 5px;
                height: 2.44vw;
                width: 2.44vw;

                .label_4 {
                    width: 1.67vw;
                    height: 1.67vw;
                    margin: 0.41vw 0 0 0.34vw;
                }
            }
        }

        .group_24 {
            width: 77.78vw;
            // height: 11.46vw;
            margin: 1.59vw 0 0 11.11vw;

            .box_8 {
                background-color: rgba(62, 62, 62, 1);
                border-radius: 10px;
                width: 25vw;
                height: 11.46vw;
                margin-bottom: 1.6vw;

                .block_13 {
                    width: 21.95vw;
                    height: 4.52vw;
                    margin: 1.31vw 0 0 1.52vw;

                    .image_12 {
                        width: 4.52vw;
                        height: 4.52vw;
                        border-radius: .35vw;
                    }

                    .text-wrapper_24 {
                        width: 16.67vw;
                        height: 3.27vw;
                        margin-top: 0.77vw;

                        .text_54 {
                            height: 0.98vw;
                            overflow-wrap: break-word;
                            color: rgba(238, 238, 238, 1);
                            font-size: 0.97vw;
                            font-family: Outfit;
                            font-weight: 700;
                            text-align: left;
                            white-space: nowrap;
                            line-height: 0.98vw;
                        }

                        .text_55 {
                            width: 16.67vw;
                            height: 1.95vw;
                            overflow-wrap: break-word;
                            color: rgba(165, 165, 165, 1);
                            font-size: 0.69vw;
                            font-family: Outfit;
                            font-weight: 500;
                            text-align: left;
                            line-height: normal;
                            margin-top: 0.35vw;
                        }
                    }
                }

                .block_14 {
                    width: 21.74vw;
                    height: 1.88vw;
                    margin: 2.22vw 0 1.52vw 1.73vw;

                    .text_56 {
                        width: 5.28vw;
                        height: 0.98vw;
                        overflow-wrap: break-word;
                        color: rgba(238, 238, 238, 1);
                        font-size: 0.97vw;
                        font-family: Outfit;
                        font-weight: 700;
                        text-align: left;
                        white-space: nowrap;
                        line-height: 0.98vw;
                        margin-top: 0.49vw;
                    }

                    .text-wrapper_16 {
                        background-color: rgba(0, 82, 254, 1);
                        border-radius: 20px;
                        height: 1.88vw;
                        width: 5.49vw;

                        .text_57 {
                            width: 3.13vw;
                            height: 1.12vw;
                            overflow-wrap: break-word;
                            color: rgba(255, 255, 255, 1);
                            font-size: 1.11vw;
                            font-family: Outfit;
                            font-weight: 700;
                            text-align: center;
                            white-space: nowrap;
                            line-height: 1.12vw;
                            margin: 0.41vw 0 0 1.18vw;
                        }
                    }
                }
            }
        }

        .group_26 {
            width: 77.78vw;
            height: 11.46vw;
            margin: 1.59vw 0 0 11.11vw;

            .box_15 {
                background-color: rgba(62, 62, 62, 1);
                border-radius: 10px;
                width: 25vw;
                height: 11.46vw;

                .block_15 {
                    width: 21.95vw;
                    height: 4.52vw;
                    margin: 1.31vw 0 0 1.52vw;

                    .image_15 {
                        width: 4.52vw;
                        height: 4.52vw;
                    }

                    .text-group_29 {
                        width: 16.67vw;
                        height: 3.27vw;
                        margin-top: 0.77vw;

                        .text_64 {
                            width: 3.41vw;
                            height: 0.98vw;
                            overflow-wrap: break-word;
                            color: rgba(238, 238, 238, 1);
                            font-size: 0.97vw;
                            font-family: Outfit;
                            font-weight: 700;
                            text-align: left;
                            white-space: nowrap;
                            line-height: 1.12vw;
                        }

                        .text_65 {
                            width: 16.67vw;
                            height: 1.95vw;
                            overflow-wrap: break-word;
                            color: rgba(165, 165, 165, 1);
                            font-size: 0.69vw;
                            font-family: Outfit;
                            font-weight: 500;
                            text-align: left;
                            line-height: normal;
                            margin-top: 0.35vw;
                        }
                    }
                }

                .block_16 {
                    width: 21.74vw;
                    height: 1.88vw;
                    margin: 2.22vw 0 1.52vw 1.73vw;

                    .text_66 {
                        width: 5.28vw;
                        height: 0.98vw;
                        overflow-wrap: break-word;
                        color: rgba(238, 238, 238, 1);
                        font-size: 0.97vw;
                        font-family: Outfit;
                        font-weight: 700;
                        text-align: left;
                        white-space: nowrap;
                        line-height: 1.12vw;
                        margin-top: 0.49vw;
                    }

                    .text-wrapper_19 {
                        background-color: rgba(0, 82, 254, 1);
                        border-radius: 20px;
                        height: 1.88vw;
                        width: 5.49vw;

                        .text_67 {
                            width: 3.13vw;
                            height: 1.12vw;
                            overflow-wrap: break-word;
                            color: rgba(255, 255, 255, 1);
                            font-size: 1.11vw;
                            font-family: Outfit;
                            font-weight: 700;
                            text-align: center;
                            white-space: nowrap;
                            line-height: 1.12vw;
                            margin: 0.41vw 0 0 1.18vw;
                        }
                    }
                }
            }

            .box_18 {
                background-color: rgba(62, 62, 62, 1);
                border-radius: 10px;
                width: 25vw;
                height: 11.46vw;
                margin-left: 1.39vw;

                .image-text_20 {
                    width: 21.95vw;
                    height: 4.52vw;
                    margin: 1.31vw 0 0 1.52vw;

                    .image_16 {
                        width: 4.52vw;
                        height: 4.52vw;
                    }

                    .text-group_30 {
                        width: 16.67vw;
                        height: 3.27vw;
                        margin-top: 0.77vw;

                        .text_68 {
                            width: 4.59vw;
                            height: 0.98vw;
                            overflow-wrap: break-word;
                            color: rgba(238, 238, 238, 1);
                            font-size: 0.97vw;
                            font-family: Outfit;
                            font-weight: 700;
                            text-align: left;
                            white-space: nowrap;
                            line-height: 0.98vw;
                        }

                        .paragraph_5 {
                            width: 16.67vw;
                            height: 1.95vw;
                            overflow-wrap: break-word;
                            color: rgba(165, 165, 165, 1);
                            font-size: 0.69vw;
                            font-family: Outfit;
                            font-weight: 500;
                            text-align: left;
                            line-height: normal;
                            margin-top: 0.35vw;
                        }
                    }
                }

                .block_17 {
                    width: 21.74vw;
                    height: 1.88vw;
                    margin: 2.22vw 0 1.52vw 1.73vw;

                    .text_69 {
                        width: 5.28vw;
                        height: 0.98vw;
                        overflow-wrap: break-word;
                        color: rgba(255, 255, 255, 1);
                        font-size: 0.97vw;
                        font-family: Outfit;
                        font-weight: 700;
                        text-align: left;
                        white-space: nowrap;
                        line-height: 0.98vw;
                        margin-top: 0.49vw;
                    }

                    .text-wrapper_20 {
                        background-color: rgba(0, 82, 254, 1);
                        border-radius: 20px;
                        height: 1.88vw;
                        width: 5.49vw;

                        .text_70 {
                            width: 3.13vw;
                            height: 1.12vw;
                            overflow-wrap: break-word;
                            color: rgba(255, 255, 255, 1);
                            font-size: 1.11vw;
                            font-family: Outfit;
                            font-weight: 700;
                            text-align: center;
                            white-space: nowrap;
                            line-height: 1.12vw;
                            margin: 0.41vw 0 0 1.18vw;
                        }
                    }
                }
            }

            .box_20 {
                background-color: rgba(62, 62, 62, 1);
                border-radius: 10px;
                width: 25vw;
                height: 11.46vw;
                margin-left: 1.39vw;

                .image-text_21 {
                    width: 21.95vw;
                    height: 4.52vw;
                    margin: 1.31vw 0 0 1.52vw;

                    .image_17 {
                        width: 4.52vw;
                        height: 4.52vw;
                    }

                    .text-group_31 {
                        width: 16.67vw;
                        height: 3.27vw;
                        margin-top: 0.77vw;

                        .text_71 {
                            width: 4.24vw;
                            height: 0.98vw;
                            overflow-wrap: break-word;
                            color: rgba(238, 238, 238, 1);
                            font-size: 0.97vw;
                            font-family: Outfit;
                            font-weight: 700;
                            text-align: left;
                            white-space: nowrap;
                            line-height: 0.98vw;
                        }

                        .text_72 {
                            width: 16.67vw;
                            height: 1.95vw;
                            overflow-wrap: break-word;
                            color: rgba(165, 165, 165, 1);
                            font-size: 0.69vw;
                            font-family: Outfit;
                            font-weight: 500;
                            text-align: left;
                            line-height: normal;
                            margin-top: 0.35vw;
                        }
                    }
                }

                .group_27 {
                    width: 21.74vw;
                    height: 1.88vw;
                    margin: 2.22vw 0 1.52vw 1.73vw;

                    .text_73 {
                        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                        width: 5.28vw;
                        height: 0.98vw;
                        overflow-wrap: break-word;
                        color: rgba(255, 255, 255, 1);
                        font-size: 0.97vw;
                        font-family: Outfit;
                        font-weight: 700;
                        text-align: left;
                        white-space: nowrap;
                        line-height: 0.98vw;
                        margin-top: 0.49vw;
                    }

                    .text-wrapper_21 {
                        background-color: rgba(0, 82, 254, 1);
                        border-radius: 20px;
                        height: 1.88vw;
                        width: 5.49vw;

                        .text_74 {
                            width: 3.13vw;
                            height: 1.12vw;
                            overflow-wrap: break-word;
                            color: rgba(255, 255, 255, 1);
                            font-size: 1.11vw;
                            font-family: Outfit;
                            font-weight: 700;
                            text-align: center;
                            white-space: nowrap;
                            line-height: 1.12vw;
                            margin: 0.41vw 0 0 1.18vw;
                        }
                    }
                }
            }
        }
    }

    .group_22 {
        background-color: rgba(238, 238, 238, 1);
        border-radius: 5px;
        position: absolute;
        left: 62.64vw;
        top: 44.45vw;
        width: 23.2vw;
        height: 7.3vw;

        .image-text_22 {
            width: 21.53vw;
            height: 4.52vw;
            margin: 1.31vw 0 0 1.25vw;

            .image_22 {
                width: 4.52vw;
                height: 4.52vw;
            }

            .text-group_32 {
                width: 16.25vw;
                height: 3.27vw;
                margin-top: 0.07vw;

                .text_78 {
                    width: 5.56vw;
                    height: 0.98vw;
                    overflow-wrap: break-word;
                    color: rgba(51, 49, 50, 1);
                    font-size: 0.97vw;
                    font-family: Outfit;
                    font-weight: 700;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 0.98vw;
                }

                .text_79 {
                    width: 16.25vw;
                    height: 1.95vw;
                    overflow-wrap: break-word;
                    color: rgba(165, 165, 165, 1);
                    font-size: 0.69vw;
                    font-family: Outfit;
                    font-weight: 500;
                    text-align: left;
                    line-height: normal;
                    margin-top: 0.35vw;
                }
            }
        }
    }
}